<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Movie App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href="~/Content/css/materialize.min.css" rel="stylesheet"
          type="text/css" />
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/materialize.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav>
        <div class="nav-wrapper black white-text" >
            <a href="#" class="brand-logo center">WEB DEV THEATERS</a>
    
                
   
                    <!--Html.ActionLink("MVC Movie", "Index", "Movies", null, new { class = "navbar-brand" })-->
       
     
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
            </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - MSUDevelopers</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
